In [24]:
import pandas as pd

In [25]:
df=pd.read_csv('dataset.csv')

In [26]:
df.columns

Index(['Unnamed: 0', 'App', 'Category', 'Rating', 'Reviews', 'Size',
       'Installs', 'Type', 'Price', 'Content Rating', 'Genres',
       'Last Updated'],
      dtype='object')

In [27]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [28]:
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated'],
      dtype='object')

In [29]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated
0,Google Photos,PHOTOGRAPHY,4.5,10858556,Varies with device,1000000000,Free,0,Everyone,Photography,"August 6, 2018"
1,Microsoft Outlook,PRODUCTIVITY,4.3,3252896,50M,100000000,Free,0,Everyone,Productivity,"August 2, 2018"
2,free video calls and chat,COMMUNICATION,NaN,594728,Varies with device,50000000,Free,0,Everyone,Communication,"July 19, 2018"
3,SHAREit - Transfer & Share,TOOLS,4.6,7775146,17M,500000000,Free,0,Everyone,Tools,"July 30, 2018"
4,Google Photos,PHOTOGRAPHY,4.5,10858538,Varies with device,1000000000,Free,0,Everyone,Photography,"August 6, 2018"

In [30]:
df.shape

(700, 11)

In [31]:
df[df.duplicated()].shape

(256, 11)

In [32]:
df=df.drop_duplicates(subset='App')

In [33]:
df.shape

(296, 11)

In [34]:
df[df.isnull().any(axis=1)]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated
2,free video calls and chat,COMMUNICATION,NaN,594728,Varies with device,50000000,Free,0,Everyone,Communication,"July 19, 2018"
5,"Groupon - Shop Deals, Discounts & Coupons",SHOPPING,NaN,1370749,Varies with device,50000000,Free,0,Teen,Shopping,"August 3, 2018"
10,Score! Hero,GAME,NaN,5419676,96M,100000000,Free,0,Everyone,Sports,"June 13, 2018"
44,WeChat,COMMUNICATION,NaN,5387446,Varies with device,100000000,Free,0,Everyone,Communication,"July 31, 2018"
61,KineMaster – Pro Video Editor,VIDEO_PLAYERS,NaN,1013867,32M,50000000,Free,0,Everyone,Video Players & Editors,"August 3, 2018"
154,"letgo: Buy & Sell Used Stuff, Cars & Real Estate",SHOPPING,NaN,973270,20M,50000000,Free,0,Teen,Shopping,"August 6, 2018"
156,"SKOUT - Meet, Chat, Go Live",SOCIAL,NaN,1064049,Varies with device,50000000,Free,0,Mature 17+,Social,"July 28, 2018"
158,Traffic Racer,GAME,NaN,5387781,53M,100000000,Free,0,Everyone,Racing,"February 27, 2018"
314,VLC for Android,VIDEO_PLAYERS,4.4,1031045,Varies with device,100000000,NaN,0,Everyone,Video Players & Editors,"July 30, 2018"
321,aa,FAMILY,NaN,886418,6.5M,50000000,Free,0,Everyone,Strategy,"June 30, 2018"
498,QR Droid,PRODUCTIVITY,NaN,349151,Varies with device,50000000,Free,0,Everyone,Productivity,"August 1, 2018"

In [35]:
df['Rating']=df['Rating'].fillna(value=round(df['Rating'].mean(),1))

In [36]:
df['Type']=df['Type'].fillna(method='ffill')

In [37]:
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated]
Index: []

In [38]:
#Data Interpolation
count=0
for rating in df['Rating']:
    if(rating<1.0 or rating>5.0):
        count+=1
print(count)

0

In [39]:
from sklearn import preprocessing

In [40]:
cat_col=['App','Category','Size','Type','Content Rating','Genres', 'Last Updated']

In [41]:
le=preprocessing.LabelEncoder()
for i in cat_col:
    le.fit(list(df[i].unique()))
    df[i]=le.transform(df[i])

In [42]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated
0,116,13,4.5,10858556,79,1000000000,0,0,0,24,13
1,163,14,4.3,3252896,39,100000000,0,0,0,25,8
2,288,2,4.4,594728,79,50000000,0,0,0,11,35
3,204,18,4.6,7775146,8,500000000,0,0,0,36,48
5,125,15,4.4,1370749,79,50000000,0,0,3,31,10

In [20]:
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated'],
      dtype='object')

In [43]:
df['Type'].unique()

array([0], dtype=int64)

In [44]:
df['Price'].unique()

array([0], dtype=int64)

In [21]:
df=(df-df.mean())/df.std() #Standardization of data

In [22]:
df.mean()

App               1.650332e-17
Category          4.425889e-17
Rating            8.148512e-16
Reviews           3.375678e-18
Size             -1.875377e-18
Installs         -3.488201e-17
Type                       NaN
Price                      NaN
Content Rating    1.965395e-16
Genres           -7.801567e-17
Last Updated      2.100422e-17
dtype: float64

In [23]:
df.std()

App               1.0
Category          1.0
Rating            1.0
Reviews           1.0
Size              1.0
Installs          1.0
Type              NaN
Price             NaN
Content Rating    1.0
Genres            1.0
Last Updated      1.0
dtype: float64

In [ ]:
df=(df-df.min())/(df.max()-df.min()) #Normalization of data

In [31]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated
0,Google Photos,0.619048,0.8,0.138664,1.000000,1.000000,NaN,NaN,0.0,0.600,"August 6, 2018"
1,Microsoft Outlook,0.666667,0.6,0.041323,0.493671,0.052632,NaN,NaN,0.0,0.625,"August 2, 2018"
2,free video calls and chat,0.095238,0.7,0.007302,1.000000,0.000000,NaN,NaN,0.0,0.275,"July 19, 2018"
3,SHAREit - Transfer & Share,0.857143,0.9,0.099201,0.101266,0.473684,NaN,NaN,0.0,0.900,"July 30, 2018"
5,"Groupon - Shop Deals, Discounts & Coupons",0.714286,0.7,0.017234,1.000000,0.000000,NaN,NaN,1.0,0.775,"August 3, 2018"